*{
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: rgb(150, 155, 154);
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

/* Navigation */

.nav-container {
    background: #fffffa;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
    height: 80px;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

nav ul {
    display: flex;
}

nav .logo {
    font-family: "Judson", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    color:rgb(172, 55, 55)
}
.nav-items li {
    list-style: margin-right 100px;
}

.nav-items li:nth-last-of-type(1){
    margin: 0;
}

.nav-items li a {
    color: #000000;
    font-size: 20px;
    font-family: "Judson", sans-serif;
    text-decoration: none;
}

h1 {color: rgb(172, 55, 55)}
